name: Maven Publish

on:
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - run: git pull origin master --ff-only

    - name: Assemble Resources
      run: ./download-libs.sh
      
    - name: Set up JDK 11 and Maven settings + GPG
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '11'
        server-id: central
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD 
        gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg-passphrase: MAVEN_GPG_PASSPHRASE

    - name: Check Maven version
      run: mvn -version

    - name: Publish to Central Portal
      run: mvn -B -e clean deploy -Pdeploy
      env:
        MAVEN_USERNAME: ${{ secrets.MAVEN_USERNAME }}   
        MAVEN_PASSWORD: ${{ secrets.MAVEN_PASSWORD }}   # Central Portal token
        MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
